In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [4]:
# Create reference to CSV file
csv_path = "Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)
soccer_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df["Preferred Position"].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [15]:
# Looking only at strikers (ST) to start
filtered_soccer=soccer_2018_df.loc[soccer_2018_df['Preffered Position']=='ST',:]
filtered_soccer.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,Preffered Position
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0,ST
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0,ST
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0,ST
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0,ST
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST

In [17]:
# Sort the DataFrame by the values in the "ST" column to find the worst
filtered_soccer=filtered_soccer.sort('ST', ascending=False)
#test = df.sort('one', ascending=False)
# Reset the index so that the index is now based on the sorting locations

AttributeError: 'DataFrame' object has no attribute 'sort'

In [16]:
# Save all of the information collected on the worst striker
worst_striker=filtered_soccer.iloc[0]
worst_striker

Name                  Cristiano Ronaldo
Age                                  32
Nationality                    Portugal
Overall                              94
Potential                            94
Club                     Real Madrid CF
Preferred Position                   ST
CAM                                  89
CB                                   53
CDM                                  62
CF                                   91
CM                                   82
LAM                                  89
LB                                   61
LCB                                  53
LCM                                  82
LDM                                  62
LF                                   91
LM                                   89
LS                                   92
LW                                   91
LWB                                  66
RAM                                  89
RB                                   61
RCB                                  53
RCM                                  82
RDM                                  62
RF                                   91
RM                                   89
RS                                   92
RW                                   91
RWB                                  66
ST                                   92
Preffered Position                   ST
Name: 0, dtype: object