In [11]:
# Import Dependencies
import pandas as pd

In [12]:
import os
path=os.getcwd()
path

'C:\\Users\\rothj\\Repository\\Repository'

In [21]:
# File to Load
df=pd.read_csv("books_clean.csv")
df.head()
# Read the modified GoodReads csv and store into Pandas DataFrame

,Number,Year,Title,Author,1 Star,2 Star,3 Star,4 Star,5 Star
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [ ]:
# Calculate the number of unique authors in the DataFrame


# Calculate the earliest/latest year a book was published


# Calculate the total reviews for the entire dataset

In [25]:
numberOfAuthors=len(df["Author"].unique())
numberOfAuthors

earliest=df["Year"].min()
latest=df["Year"].max()
print(earliest,latest)

total=df["1 Star"].sum() + df["2 Star"].sum()
total

-1750.0 2017.0

44559256

In [26]:
# Place all of the data found into a summary DataFrame
summary=pd.DataFrame(
{
    "Number of Authors":[numberOfAuthors],
    "Earliest Pub":[earliest],
    "Latest Pub":[latest]
})
summary

   Number of Authors  Earliest Pub  Latest Pub
0               4664       -1750.0      2017.0